
body {
  font-family:'Segoe UI', Helvetica, sans-serif;
  background-color:#fff;
  margin: 0;
}
/*#main{
  background-color:#4686F0;

}*/
.container {
  display: flex;
}
.column {
  flex: 1;

  padding:10px 15px;
}

.column > h1 {
  font-family:'Segoe UI Light';
  margin-top:0px;
}
