
body {
  font-family:'Segoe UI', Helvetica, sans-serif;
  background-color:#fff;
  margin: 0;
}
/*#main{
  background-color:#4686F0;

}*/
p{
  -webkit-margin-before: .5em;
  -webkit-margin-after: .5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;s
}
.container {
  display: flex;

}

.a{
  text-decoration: none;
}
.a:hover{
  cursor: pointer;
}
.column {
  flex: 1;
  padding:10px 15px;
}
.mainContainer{
  width: 100%;
  height: 35vh;
background-image: url(http://www.krux.com/static/img/bg-blue-wrap-data-grid.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.menuNav:hover{
  border-bottom: 3px solid #fff;
}

.activeMenu{
  border-bottom: 3px solid #0F439B;
}
.d3Chart{
  margin: 2rem;
  width: 35rem;
  height: 24rem;
  background-image: url('http://blog.scottlogic.com/archive/2011/09/bar_chart_dundas.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img-responsive{
  height: 7rem;
  margin-right: 2rem;
}
.sup{
    font-size: .7rem;
}
.headerImg{
  height: 3rem;
  margin-right: 1rem;
  font-size: 3rem;
}
.column > h1 {
  font-family:'Segoe UI Light';
  margin-top:0px;
}
